/*https://terminalsplash.com/ goto view source*/

darkbglighttext_firefox_addon{
	color:#d1cc73;
	color:#1e1114;
	color:#d18573;
	color:#73d1cd;
	color:#d19e73;
	color:#9d73d1;
}

TRANSLATION {
    /*black2*/
    color :#230b11; /*lain*/
    color :#002b36; /*solarized*/
    color :#10161F; /*galaxy*/
    color :#202339 ; /*newyork sunset*/ /*https://www.schemecolor.com/new-york-sunset.php*/
    /*https://www.schemecolor.com/rustic-america.php check out rustic america too*/

    /*black*/
    color :#1E1114; /*lain*/
    color :#073642; /*solarized*/
    color :#1d2837; /*galaxy*/
    color :#4E558C ; /*newyork sunset*/

    /*red*/
    color :#894c5d ; /*lain*/
    color :#dc322f; /*solarized*/
    color :#f9555f; /*galaxy*/
    color :#C25A60 ; /*newyork sunset*/
    /*green*/
    color :#a75f74; /*lain*/
    color :#859900; /*solarized*/
    color :#21b089; /*galaxy*/
    color :#FFC44E; /*newyork sunset */
    /*yellow*/
    color :#be8896; /*lain*/
    color :#b58900; /*solarized*/
    color :#fef02a; /*galaxy*/
    color :#F9D786 ; /*newyork sunset*/
    /*blue*/
    color :#d0aab5; /*lain*/
    color :#268bd2; /*solarized*/
    color :#589df6; /*galaxy*/
    color :#5D65A7 ; /*newyork sunset*/
    /*magenta*/
    color :#89864c; /*lain*/
    color :#d1cc7a; /*solarized previous d33682 disgusting*/
    color :#944d95; /*galaxy*/
    color :#FF9750 ; /*newyork sunset*/
    /*cyan*/
    color :#d1cc73; /*lain*/
    color :#2aa198; /*solarized*/
    color :#1f9ee7; /*galaxy*/
    color :#7580D2 ; /*newyork sunset*/
    /*white*/
    color :#dbd9bd; /*lain*/
    color :#fdf6e3; /*solarized*/
    color :#bbbbbb; /*galaxy*/
    color :#D7D0BA ; /*newyork sunset*/

    /*MISC*/
    color:#693A47;/*lain*/
    color:#586e75;/*solarized*/
    color:#555555; /*galaxy*/
    color :#434360 ; /*newyork sunset*/

    /*sed -i 's/1e1114/002b36/'*/
}



navi { 
    color:#1E1114;
    color:#211216;
    color:#231318;
    color:#261519;
    color:#28161B;
    color:#29161c;
    color:#351D24;
    color:#492832;
    color:#693A47;
    color:#874A5B;
    color:#BE8896;
    color:#D0AAB5;
    color:#89864C;
    color:#D1CC73;
    color:#ccdc90;
    color:#c1b492;
    color:#ede21f;
    color:#DBD9BD;
}

solarized_work {
    color:#b58900;
    color:#cb4b16;
    color:#dc322f;
    color:#d33682;
    color:#6c71c4;
    color:#268bd2;
    color:#2aa198;
    color:#859900;
    color:#fdf6e3;
    color:#eee8d5;
    color:#93a1a1;
    color:#839496;
    color:#657b83;
    color:#586e75;
    color:#073642;
    color:#002b36;
}

gruvbox {
    color:#282828;
    color:#cc241d;
    color:#98971a;
    color:#d79921;
    color:#458588;
    color:#b16286;
    color:#689d6a;
    color:#a89984;
    color:#ebdbb2;
}


alacritty{
    color: #1e1114;
    color: #894c5d;
    color: #a75f74;
    color: #be8896;
    color: #d0aab5;
    color: #d1cc73; /*<------*/
    color: #cdc770;
    color: #dbd9db;
}

/*
sudo pacman -S python-pip
pip install color_wallpaper
cd /home/nothing/Pictures/
python -m color_wallpaper -o 1e1114.png -c 1e1114 -c2 d1cc73 -s 2 -y -d Nowhere --resolution 1920x1080
python -m color_wallpaper -o d1cc73.png -c d1cc73 -c2 1e1114 -s 2 -y -d Nowhere --resolution 1920x1080

feh --bg-center d1cc73.png
*/
wallpaper{
    color:#1e1114;
    color:#d1cc73;

    color:#d1cc73;
    color:#1e1114;
}















/* https://colorpicker.me/#e3c58a */
normal{
    color: #2e1c21; /**/
    color: #894c5d; /*a67c5b*/
    color: #a75f74; /*894c5d*/ /*d1cc73*/ /*a67c5b*/ /*a6a25c*/ 
    color: #be8896; /**/
    color: #d0aab5; /**/
    color: #89864c; /**/
    color: #d1cc73; /*a19d59*/ /*a67c5b*/
    color: #dbd9bd; /**/
}





navismall{
    color:#2e1c21; /*OR #13231e (complementary)*/ 
    color:#874A5B;
    color:#D1CC73;
    color:#ede21f;
    color:#89864C;
    
    color:#BE8896;
    color:#ede21f;
    color:#D0AAB5; /*689d6a*/
    color:#DBD9BD;
}

